{% load static %}
<div class="row">
  <div class="col-sm-4 my-5">
    <div class="card-group">
      <div class="card">
        <a href="http://127.0.0.1:8000/display/">
          <div class="card-header">
            <img
              class="card-img-top"
              src="{% static 'images/attendance.png' %}"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <center>
              <h5>Attendance</h5>
            </center>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 my-5">
    <div class="card-group">
      <div class="card">
        <a href="http://127.0.0.1:8000/signup/">
          <div class="card-header">
            <img
              class="card-img-top"
              src="{% static 'images/profile.jpeg' %}"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <center>
              <h5>Account</h5>
            </center>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 my-5">
    <div class="card-group">
      <div class="card">
        <a href="http://127.0.0.1:8000/attendance/report/">
          <div class="card-header">
            <img
              class="card-img-top"
              src="{% static 'images/report.jpeg' %}"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <center>
              <h5>Report</h5>
            </center>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center" >
  <div class="col-sm-4 my-5">
    <div class="card-group">
      <div class="card">
        <a href="http://127.0.0.1:8000/logout/">
          <div class="card-header">
            <img
              class="card-img-top"
              src="{% static 'images/logout.jpeg' %}"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <center>
              <h5>Logout</h5>
            </center>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
