<html>
  <head>
    {% load static %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/report.css' %}" />

    <script
      src="https://kit.fontawesome.com/6820971017.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    {% load crispy_forms_tags %} {% load static %} {% load socialaccount %}
    {%include 'navbar.html' %}
    <div class="container">
        <div class="row">
          <div class="col">
              <div class="card">
                <div class="row my-3">
                    <div class="col mx-5">
                        <p>USERNAME: user1</p>
                    </div>
                    <div class="col mx-2">
                        <p>FIRST NAME: xyz</p>
                    </div>
                    <div class="col mx-2">
                        <p>LAST NAME: dummy</p>
                    </div>
                    <div class="col mx-2">
                        <p>EMAIL: dummy@gmail.com</p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-3 mx-3">
                        <p>DATA</p>
                    </div>
                    <div class="col-8">
                        <img src="{% static 'images/chart.jpg' %}"
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </body>
</html>
